@charset "utf-8";
/******************************************************************
 * #RESET-STYLESHEET
******************************************************************/
html,body {
    -webkit-overflow-scrolling: touch;
    height : 100%;
}
html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,img,
ins,kbd,q,samp,small,strong,sub,sup,var,b,
i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video,input,
header, section, article, footer {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	word-break:break-all;
} 
/******************************************************************
 * #BASIC SET CODE
******************************************************************/
body {-webkit-text-size-adjust:none; font-family:NanumGothic,’나눔고딕’,ng,sans-serif} /*아이폰 가로세로 폰트크기 고정*/
button {border:0 none;outline:0;cursor:pointer; background:none; margin:0; padding:0;vertical-align:middle}
button span {position:relative; left:0; top:0;vertical-align:middle}
button::-moz-focus-inner {border:0; padding:0}
caption {position:absolute; text-indent:-987654321px}
a {text-decoration:none;}
ol,ul {list-style:none;}
li,dd {padding:0; margin:0;}

input[type=text],input[type=password] {border:1px solid #d4d4d4; padding:2px;}
input[type=file] {padding:2px}
input[type=button] {cursor:pointer}
input[type=check] {border:0 none}
/*
input[type=submit]:focus {outline:1;border:1px;cursor:pointer;border: 0 solid rgba(81, 203, 238, 1);box-shadow: 0 0 1px rgba(81, 203, 238, 1);}
input:focus {border:1px solid #069; background:#F4FAFF; color:#069}
*/
textarea {border:1px solid #d4d4d4; padding:2px}
select {border:1px solid #d4d4d4; padding:2px; vertical-align:middle}

.left {float:left}
.right {float:right}
.clear {clear:both}
.aftClear:after {display:block; height:0; content:""; clear:both}

.tr {text-align:right !important}
.tl {text-align:left !important}
.tc {text-align:center !important}

.vt {vertical-align:top}
.vm {vertical-align:middle}
.vb {vertical-align:bottom}

table {border-collapse:collapse; border-spacing:0; }
legend, caption {background:none;border:0 none; display:inline-block; line-height:0; font-size:0; overflow:hidden; text-indent:-9999px; cursor:pointer; position:absolute}
fieldset {border:1px solid red; border:0}
hr {height:0; margin:0; padding:0; border:0}

.hidTxt {display:inline-block; overflow:hidden; text-indent:-9999px;}
.blind {display:block;overflow:hidden;position:absolute;top:-1000em;left:0}

/*magic number*/

.w44 {width:44px !important}
.w57 {width:57px !important}
.w520 {width:520px !important}
.w530 {width:530px !important}

.ml10 {margin-left:10px !important}
.ml20 {margin-left:20px !important}

.mr10 {margin-right:10px !important}
.mr20 {margin-right:20px !important}

.mr2p {margin-right:2% !important}

.mt10 {margin-top:10px !important}
.mt20 {margin-top:20px !important}
.mt50 {margin-top:50px !important}

.mt_m13 {margin-top:-13px !important}

.mb10 {margin-bottom:10px !important}
.mb20 {margin-bottom:20px !important}

.nmt {margin-top:0 !important}

.pl10 {padding-left:10px !important}
.pr10 {padding-right:10px !important}

/*border*/
.mbt0,
.mbt0 td  {border-top:0 !important}

/* Datepicker */
	.datepicker {padding-left:10px}
	.selectDate {display:inline-block;position:relative;z-index:10}
	.selectDate button {position:absolute;right:0px;top:0px}
	.selectDate button:active img {position:relative;left:0;top:0}


	/* 달력 */	
	#ui-datepicker-div {outline:0 none}
	#ui-datepicker-div * {font-family: Dotum,"돋움",sans-serif !important}
	#ui-datepicker-div .ui-date-wrap {margin:5px 0;width:200px;height:220px;border:2px solid #c8c8c8;background:#fff}
	.ui-datepicker-header {margin:15px 15px 10px;position: relative}
	.ui-datepicker-header * {vertical-align:middle}
	.ui-datepicker-header a {position:absolute;top:-2px}
	.ui-datepicker-prev {left:0}
	.ui-datepicker-next {right:0}
	.ui-datepicker-title {text-align:center}	
	.ui-datepicker-title select {margin:0 2px;height:20px}
	.ui-datepicker-month {width:50px}
	.ui-datepicker-year {width:65px}
	.ui-date-table {margin:0 15px;padding-top:10px;border-top:1px solid #c8c8c8}
	.ui-date-table table {width:100%}
	.ui-date-table table th {padding-bottom:10px;font-size:12px}
	.ui-date-table table th span[title="Sunday"] {color:red}
	.ui-date-table table th span[title="Saturday"] {color:blue}
	.ui-date-table table td {padding:3px;font-size:12px;border:1px solid #eee;border-right:0 none}
	.ui-date-table table td.ui-datepicker-week-end a {color:blue}
	.ui-date-table table tbody tr td:hover {background:#eee}
	.ui-date-table table tbody tr td:first-child {border-left:0 none}
	.ui-date-table table tbody tr td:first-child a {color:red}
	.ui-date-table table tbody tr td.ui-datepicker-today {background:#1cb570}
	.ui-date-table table tbody tr td.ui-datepicker-today a {color:#fff;font-weight:bold}
	.calen {position:relative}
	.calen button {position:absolute;right:5px;top:4px}
	.ui-icon-circle-triangle-w button,.ui-icon-circle-triangle-e button {display:inline-block;overflow:hidden;width:20px;height:20px;text-indent:-9999px;background:transparent url(/images/calen_btn.gif) no-repeat 0 0}
	.ui-icon-circle-triangle-e button {background-position:-20px 0}



